<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    laouts/main

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Ipsum dolor inventore harum repellendus unde odit ipsa quo fugit labore, ex error dolore consequuntur fugiat consequatur
     illum earum, voluptatem numquam praesentium.
</body>